#event.show
  %h1 Detalhes do evento #{@event.name} 

  %div.group
    %p.active
      %b Ativo:
      = @event.status
    %p.name
      %b Título:
      = @event.title
    -# unless @event.logo.blank?
      %p.logo
        %b Logomarca:
        = link_to [:admin, @event] do
          = image_tag @event.logo.data.url(:thumb)

  .actions
    = link_to 'Editar', [:edit, :admin, @event], :class => 'button edit'
    = link_to 'Voltar', [:admin, :brands], :class => 'button back'